.wrapper{
@include size($h, $w);

.container{
   @include size($h, $w);
   background: #fdfdec;
   @include display($df,flex-start,$ai);
   flex-direction: column;

   .button{
      @include size(50px, 150px);
      border: 2px solid black;
      background-color: bisque;
      border-radius: 20%;
      margin: 15px;
   }
}
}